@model MyBudget.Models.GraphPie
@{
    ViewBag.Title = "Pie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center">График расходов</h2>

        <div id="canvas-holder" style="width:100%;">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <canvas id="chart-area" width="762" height="381" class="chartjs-render-monitor" style="display: block; width: 762px; height: 381px;"></canvas>
        </div>

        <div class="text-center form-group graph-term-w col-md-4 offset-md-4">
            <select id="graphTerm" class="form-control">
                <option value="1">За текущий месяц</option>
                <option value="2">За всё время</option>                
            </select>
        </div>

        <input id="DefCurrency" type="hidden" value="@ViewBag.DefCurrency"/>
        <table id="graphLegend" class="table tbl-pie-legend">

        </table>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Chart.bundle.js"></script>    
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/graph.js"></script>

    <script>

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [],
                    backgroundColor: [],
                    label: 'Dataset 1'
                }],
                labels: []
            },
            options: {
                responsive: true,
                legend: {                    
                    display: false,
                    position: 'bottom',                    
                    fullWidth: false
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
        
    </script>


}
