@model MyBudget.Models.Goal
@{
    ViewBag.Title = "GoalForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GoalForm</h2>
<div class="container">
    @using (Html.BeginForm("SaveGoal", "Goals"))
    {
        <div class="form-group">
            <label for="Name">Название</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Name">Сумма</label>
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    }
</div>
